.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 30px;
}
.container header {
  padding-bottom: 78px;
}
.container header .logo {
  float: left;
  font-family: "Roboto"sans-serif;
  
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
  padding-top: 28px;
  font-weight: 300;
}
.container header .logo p::first-letter {
  color: #1abc9c;
  font-weight: 900;
}
.container header nav {
  float: right;
  padding-top: 55px;
}
.container header nav ul {
  list-style: none;
}
.container header nav ul li:last-of-type {
  margin-right: 0;
}
.container header nav ul li {
  float: left;
  margin-right: 50px;
  font: 14px "Robota";
}
.container header nav ul li a {
  font: 14px "Robota";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.container header nav ul li a:hover {
  color: #1abc9c;
}
.container header nav ul li a:active {
  color: white;
  border-radius: 4px;
  background-color: #0e876f;
}
.container section h2 {
  font-family: "Roboto";
  font-size: 48px;
  width: max-content;
  margin: 0 auto 10px;
  text-transform: uppercase;
  color: #515151;
}
.container section h2::after {
  content: "";
  display: block;
  width: 165px;
  height: 8px;
  background-color: #1abc9c;
  margin: 10px auto 92px;
}
.container section.products {
  margin-bottom: 55px;
}
.container section.products figure {
  background-color: #e9f0fd;
  border-radius: 5px;
  width: 255px;
  float: left;
  margin: 0 30px 30px 0;
  height: 322px;
  overflow: hidden;
}
.container section.products figure .a-img a {
  cursor: pointer;
}
.container section.products figure .a-img a img {
  max-width: 100%;
}
.container section.products figure figcaption {
  height: 40px;
  background-color: #323232;
}
.container section.products figure figcaption a {
  display: inline-block;
  height: 100%;
  width: 201px;
  text-decoration: none;
  font: 18px "Roboto";
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 0 0px 14px;
}
.container section.products figure figcaption .price {
  font: 18px "Roboto";
  line-height: 40px;
  text-align: center;
  float: right;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.44);
}
.container section.products figure:nth-of-type(4n + 4) {
  margin-right: 0;
}
.container section.products figure:hover figcaption {
  background-color: #1abc9c;
}
.container section.products figure:hover {
  filter: drop-shadow(2px 4px 6px green);
}
.container section.news h2 {
  color: #555252;
}
.container section.news figure {
  width: 350px;
  float: left;
  margin: 0 30px 0 0;
}
.container section.news figure a {
  cursor: pointer;
}
.container section.news figure figcaption h4 {
  font: 18px "Roboto";
  color: #555252;
  padding: 15px 0;
}
.container section.news figure figcaption h4::after {
  content: "";
  display: block;
  width: 135px;
  height: 3px;
  background-color: #1abc9c;
  margin: 10px 0 5px 0;
}
.container section.news figure figcaption p {
  font: 14px "OpenSans";
  color: #555252;
  padding-bottom: 14px;
}
.container section.news figure figcaption button {
  cursor: pointer;
  display: block;
  width: 160px;
  height: 50px;
  font: 16px "OpenSans";
  color: white;
  text-transform: capitalize;
  margin-bottom: 85px;
  border: 1px solid #626262;
  border-radius: 3px;
  background-color: #4ec6ab;
}
.container section.news figure:last-of-type {
  margin-right: 0;
}
.price {
  margin: 0px;
}

.description {
  margin: 0px;
}
